.color-card {
  border-radius: 15px;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  max-width: 500px;
}

.color-card-headline {
  display: inline;
  padding: 2px 6px;
  background: black;
  color: white;
  border-radius: 10px;
  margin-right: 5px;
}

.color-card--alert-dialoge--message {
  font-size: 0.9rem;
  color: yellow;
  background-color: lightcoral;
  border: 2px solid darkred;
  border-radius: 5px;
  padding: 1px;
}
